<p>A fin de poder asesorarte sobre el uso o alguna problemática que se le presente con el Portal de Recursos Humanos del Gobierno del Estado de Sonora, la Subsecretaría de Recursos Humanos a través de la Dirección General de Sistemas y Procesos de Nómina, pone a su servicio de lunes a viernes de 09:00 a 15:00 horas los siguientes canales de atención:</p>

<div class="row">
	<div class="col-sm-6">
		<p>N&uacute;mero tel&eacute;fonico</p>
		<ul class="list-group">
			<li class="list-group-item"><span class="mdi mdi-phone"></span>{{'contact.phone' | pageTexts}}</li>
			<!-- <li class="list-group-item"><span class="mdi mdi-phone"></span> 662 2136207</li> -->
		</ul>
	</div>
	<div class="col-sm-6">
		<p>Correo electr&oacute;nico</p>
		<ul class="list-group">
			<li class="list-group-item">{{'contact.email'| pageTexts}}</li>
		</ul>
	</div>
</div>
