$yellow: #dc7f37;
$orange: #b94645;
$pink: #960e53;
$dark-pink: #410324;
$dark-grey: #666;
$grey: #999;
$black: #333333;
$light-grey: #e6e6e6;
$red: #9b2f3e;
$blue: #217abf;
$green: #237469;

$primary: $pink;
$success: $green;
$warning: $yellow;
$danger: $red;
$info: $blue;
$secondary: $orange;
$dark: $black;
$default: $grey;
