.menu-img {
	background-color: #960E53;
	border-radius: 2rem;
	width: 4rem;
	height: 4rem;
	line-height: 2rem;

	.mdi {
		color: white;
		font-size: 4rem;
		margin-top: 0.1rem;
		line-height: 1;
	}
}
